In [2]:
import numpy as np
import pandas as pd
import pickle

In [ ]:
test = np.load('/work3/dgro/VCTK-Corpus-0/wav/p226/p226_001_mic2.npy')

In [ ]:
test.shape

In [4]:
with open('/work3/dgro/VCTK-Corpus-0/spmel/metadata.pkl', 'rb') as pickle_file:
    metadata2 = pickle.load(pickle_file)

In [3]:
with open('/zhome/08/b/98186/advanced-ml/autovc/metadata.pkl', 'rb') as pickle_file:
    metadata_or = pickle.load(pickle_file)

In [40]:
import numpy as np
from librosa.feature import melspectrogram
from librosa.filters import mel

mel_basis = mel(16000, 1024, fmin=90, fmax=7600, n_mels=80).T
min_level = np.exp(-100 / 20 * np.log(10))

D = np.load('/work3/dgro/VCTK-Corpus-0/stft/p225/p225_001_mic2.npy')
D_mel = np.dot(D.T, mel_basis)
D_db = 20 * np.log10(np.maximum(min_level, D_mel)) - 16
S = np.clip((D_db + 100) / 100, 0, 1) 
print(S.shape)

S.max()

(129, 80)

/tmp/ipykernel_19434/82128318.py:5: FutureWarning: Pass sr=16000, n_fft=1024 as keyword args. From version 0.10 passing these as positional arguments will result in an error
  mel_basis = mel(16000, 1024, fmin=90, fmax=7600, n_mels=80).T

0.60394454

In [29]:
import os
import pickle
with open(os.path.join('/work3/dgro/VCTK-Corpus-0/stft/metadata.pkl'), 'rb') as file:
            md = pickle.load(file)

In [34]:
md[0][1]

['p002_020',
 array([-0.01350405,  0.00791144,  0.0090503 ,  0.00432177,  0.05557477,
         0.02954319,  0.01079851,  0.06405142, -0.00274722,  0.02823362,
         0.04448108,  0.05238215,  0.0525844 ,  0.00066349, -0.02211104,
         0.02604315,  0.06153029, -0.00549118,  0.05124387, -0.01187283,
         0.00830134,  0.03250371, -0.0806217 , -0.06579878,  0.00214647,
        -0.01108634,  0.03003076, -0.06934963, -0.01397742,  0.01510359,
        -0.04529585,  0.07397854,  0.02884894,  0.08759539, -0.00668036,
        -0.00918692,  0.0372261 , -0.0635406 ,  0.00603695,  0.01414676,
        -0.0312506 , -0.00404177, -0.0426768 , -0.03074561, -0.07313085,
        -0.04451051,  0.05255825,  0.03420416,  0.01118189, -0.01009823,
         0.05129909, -0.00983707, -0.05760571,  0.0276159 ,  0.05460598,
         0.05066548, -0.04124875,  0.04984031,  0.01845946,  0.05039046,
         0.04528014, -0.0077235 ,  0.02650618, -0.02111182, -0.0380457 ,
         0.0723055 ,  0.07969502,  0.06251924,  0.03578471, -0.05582412,
        -0.09921633,  0.04508456, -0.05552382, -0.00427434,  0.04087176,
        -0.09636472,  0.09360197,  0.06978492, -0.08711676, -0.03074136,
        -0.00845172, -0.00681338,  0.00050872, -0.03206736, -0.00401323,
         0.01971508, -0.10929923,  0.01904182, -0.00179883, -0.043325  ,
        -0.05108549,  0.1425468 , -0.0448329 , -0.04143491, -0.07113291,
         0.06789093,  0.0059147 ,  0.02155279,  0.00163687,  0.02215463,
         0.02209983,  0.05280929,  0.02139081,  0.01858367, -0.05157942,
        -0.02445889, -0.01720547, -0.02518873,  0.03959775,  0.0031176 ,
        -0.00963101,  0.05904796, -0.04734839,  0.01842071, -0.0322823 ,
         0.01783356,  0.01351495,  0.0660492 ,  0.00865307, -0.02113038,
        -0.09376216,  0.00139514,  0.05602781,  0.03328088,  0.05637897,
         0.03327302, -0.03783674,  0.00622135,  0.01907359,  0.04932014,
        -0.07397405, -0.02463822, -0.02217994, -0.01253325,  0.05991569,
         0.00340379,  0.01177735,  0.05255945,  0.06611551, -0.07888906,
         0.00926506, -0.00913282,  0.0259905 , -0.03632222, -0.11087841,
         0.01111145,  0.0538915 ,  0.08715881, -0.01182611, -0.00365775,
        -0.07511671, -0.028884  , -0.05902665, -0.00286112, -0.0460603 ,
        -0.01778565, -0.09995396, -0.00551581, -0.07638706,  0.00394156,
         0.01549986,  0.03830857,  0.00801529, -0.02963954, -0.06738417,
         0.01845029,  0.03016236,  0.03399864,  0.04052433, -0.0124552 ,
        -0.04700156, -0.11262079,  0.0296635 , -0.02940483, -0.1133831 ,
        -0.05358003,  0.00051695, -0.03363107,  0.04668758,  0.01704217,
         0.03906889,  0.03194324,  0.07908521, -0.02111892,  0.07693662,
        -0.00450495,  0.03340598, -0.01656112, -0.06363121, -0.04775004,
         0.06891473, -0.0179108 ,  0.04787677, -0.05907672,  0.04806989,
         0.04467927,  0.03887483, -0.04193536, -0.0118157 , -0.0818615 ,
         0.022035  , -0.01887305,  0.03811181,  0.0472597 ,  0.01291935,
         0.00304552, -0.03206908, -0.06550439, -0.03085348, -0.021394  ,
        -0.05813728, -0.11967154, -0.01386403,  0.03296025, -0.14217485,
        -0.04839172, -0.03686256, -0.03560099, -0.02531185,  0.07223155,
         0.00571504, -0.00490625,  0.11601347, -0.09171471, -0.01172452,
        -0.02839778, -0.0038826 ,  0.00548403,  0.04455759,  0.01161307,
         0.04257585,  0.02951648, -0.03496765, -0.05679274,  0.00276189,
         0.03155481,  0.01783895,  0.08045081,  0.05061872, -0.09015922,
         0.120477  , -0.05094496, -0.01464524,  0.0572576 , -0.01352994,
         0.00293327, -0.02547994, -0.02780834,  0.02586655,  0.05011631,
         0.07885587,  0.06057312,  0.02982586, -0.00694106, -0.04446713,
        -0.04384941], dtype=float32),
 array([[0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        ...,
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.]], dtype=float32)]

In [5]:

with open('/zhome/08/b/98186/advanced-ml/autovc/results.pkl', 'rb') as pickle_file:
    results = pickle.load(pickle_file)

In [8]:
len(results)

49

In [2]:
with open('/work3/dgro/VCTK-Corpus-0/wav/train.pkl', 'rb') as pickle_file:
    train = pickle.load(pickle_file)

In [14]:
train[0][0]

'p001'

In [18]:
train

subject_speaker_embedding = {}
for embed in train:
    subject_speaker_embedding[embed[0]] = embed[1]

In [17]:
train_dict['p001'].shape

(256,)

In [4]:
speaker_info = pd.read_csv("speaker_info.txt", delim_whitespace=True)

In [7]:
speaker_info

,ID,AGE,GENDER,ACCENTS,REGION,COMMENTS
0,p001,24,F,Danish,Denmark,Ditte
1,p002,24,F,Danish,Denmark,Nina
2,p003,27,M,American,Denmark,Sebastian
3,p225,23,F,English,Southern_England,NaN
4,p226,22,M,English,Surrey,NaN
...,...,...,...,...,...,...
108,p363,22,M,Canadian,Toronto,NaN
109,p364,23,M,Irish,Donegal,NaN
110,p374,28,M,Australian,English,NaN
111,p376,22,M,Indian,NaN,NaN
112,s5,22,F,British,"(new_speaker,more_data_would_be_released_for_t...",NaN

In [9]:
main_dir = '/work3/dgro/VCTK-Corpus-0/'

In [16]:
subject_conversions = [(('p226','001'),('p226','001')), (('p226','003'),('p363','003'))]

In [35]:
for conversion in subject_conversions:
    print('#'*40+'\n')
    with open(os.path.join(main_dir,'txt',conversion[0][0],conversion[0][0] + '_' + conversion[0][1]+'.txt',), 'r') as sentence_file:
        sentence = "\"" + sentence_file.readline().rstrip('\n').rstrip() + "\""
        print(f'Converting from sentence no. {conversion[0][1]} : {sentence}')
        
    print('Uttered by the speaker:')
    print(speaker_info[speaker_info['ID']==conversion[0][0]].to_string(index=False))
    print('')

    with open(os.path.join(main_dir,'txt',conversion[1][0],conversion[1][0] + '_' + conversion[1][1]+'.txt',), 'r') as sentence_file:
        sentence = "\"" + sentence_file.readline().rstrip('\n').rstrip() + "\""
        print(f'Into sentence no. {conversion[1][1]}: {sentence}')

    print('Uttered by the speaker:')
    print(speaker_info[speaker_info['ID']==conversion[1][0]].to_string(index=False))
    print('\n')

########################################

Converting from sentence no. 001 : "Please call Stella."
Uttered by the speaker:
  ID  AGE GENDER ACCENTS REGION COMMENTS
p226   22      M English Surrey      NaN

Into sentence no. 001: "Please call Stella."
Uttered by the speaker:
  ID  AGE GENDER ACCENTS REGION COMMENTS
p226   22      M English Surrey      NaN


########################################

Converting from sentence no. 003 : "Six spoons of fresh snow peas, five thick slabs of blue cheese, and maybe a snack for her brother Bob."
Uttered by the speaker:
  ID  AGE GENDER ACCENTS REGION COMMENTS
p226   22      M English Surrey      NaN

Into sentence no. 003: "Six spoons of fresh snow peas, five thick slabs of blue cheese, and maybe a snack for her brother Bob."
Uttered by the speaker:
  ID  AGE GENDER  ACCENTS  REGION COMMENTS
p363   22      M Canadian Toronto      NaN