In [1]:
import numpy as np
import pandas as pd
import pickle

In [ ]:
test = np.load('/work3/dgro/VCTK-Corpus-0/wav/p226/p226_001_mic2.npy')

In [ ]:
test.shape

In [ ]:
with open('/work3/dgro/VCTK-Corpus-0/wav/metadata.pkl', 'rb') as pickle_file:
    metadata = pickle.load(pickle_file)

In [ ]:
metadata[0]

In [ ]:
with open('/work3/dgro/VCTK-Corpus-0/wav/train.pkl', 'rb') as pickle_file:
    train = pickle.load(pickle_file)

In [ ]:
train[0][2:]

In [4]:
speaker_info = pd.read_csv("speaker_info.txt", delim_whitespace=True)

In [7]:
speaker_info

,ID,AGE,GENDER,ACCENTS,REGION,COMMENTS
0,p001,24,F,Danish,Denmark,Ditte
1,p002,24,F,Danish,Denmark,Nina
2,p003,27,M,American,Denmark,Sebastian
3,p225,23,F,English,Southern_England,NaN
4,p226,22,M,English,Surrey,NaN
...,...,...,...,...,...,...
108,p363,22,M,Canadian,Toronto,NaN
109,p364,23,M,Irish,Donegal,NaN
110,p374,28,M,Australian,English,NaN
111,p376,22,M,Indian,NaN,NaN
112,s5,22,F,British,"(new_speaker,more_data_would_be_released_for_t...",NaN

In [9]:
main_dir = '/work3/dgro/VCTK-Corpus-0/'

In [16]:
subject_conversions = [(('p226','001'),('p226','001')), (('p226','003'),('p363','003'))]

In [35]:
for conversion in subject_conversions:
    print('#'*40+'\n')
    with open(os.path.join(main_dir,'txt',conversion[0][0],conversion[0][0] + '_' + conversion[0][1]+'.txt',), 'r') as sentence_file:
        sentence = "\"" + sentence_file.readline().rstrip('\n').rstrip() + "\""
        print(f'Converting from sentence no. {conversion[0][1]} : {sentence}')
        
    print('Uttered by the speaker:')
    print(speaker_info[speaker_info['ID']==conversion[0][0]].to_string(index=False))
    print('')

    with open(os.path.join(main_dir,'txt',conversion[1][0],conversion[1][0] + '_' + conversion[1][1]+'.txt',), 'r') as sentence_file:
        sentence = "\"" + sentence_file.readline().rstrip('\n').rstrip() + "\""
        print(f'Into sentence no. {conversion[1][1]}: {sentence}')

    print('Uttered by the speaker:')
    print(speaker_info[speaker_info['ID']==conversion[1][0]].to_string(index=False))
    print('\n')

########################################

Converting from sentence no. 001 : "Please call Stella."
Uttered by the speaker:
  ID  AGE GENDER ACCENTS REGION COMMENTS
p226   22      M English Surrey      NaN

Into sentence no. 001: "Please call Stella."
Uttered by the speaker:
  ID  AGE GENDER ACCENTS REGION COMMENTS
p226   22      M English Surrey      NaN


########################################

Converting from sentence no. 003 : "Six spoons of fresh snow peas, five thick slabs of blue cheese, and maybe a snack for her brother Bob."
Uttered by the speaker:
  ID  AGE GENDER ACCENTS REGION COMMENTS
p226   22      M English Surrey      NaN

Into sentence no. 003: "Six spoons of fresh snow peas, five thick slabs of blue cheese, and maybe a snack for her brother Bob."
Uttered by the speaker:
  ID  AGE GENDER  ACCENTS  REGION COMMENTS
p363   22      M Canadian Toronto      NaN